{% extends "navbar.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">My Payment Information</h1>
    <h4>{{ session.get('user') }}</h4>
    <hr class="my-4">
  </div>
  {% if not cards %}
  <h2>You currently do not have any saved forms of payment</h2>
  {% else %}
  <form action="{{ url_for('payment_info') }}" method=post>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Select</th>
          <th scope="col">Card Number</th>
          <th scope="col">Name on Card</th>
          <th scope="col">Exp Date</th>
          
        </tr>
      </thead>
    </table>
  </form>
  {% endif %}
</div>
{% endblock %}
