{% extends "navbar.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Choose Theater</h1>
    <hr class="my-4">
  </div>
  <form action="{{ url_for('pick_time', title=title) }}" method=post>
    <div class="form-group row">
      <label for="theater" class="col-sm-2 col-form-label">Saved Theater</label>
      <div class="col-sm-4">
        <select class="form-control" id="theater" name="theater">
          {% for theater in prefers %}
          <option>{{ theater.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn" style="background-color: #291784; color: #FFFFFF;">Choose</button>
      </div>
    </div>
  </form>
  <form action="{{ url_for('search_theaters', title=title)}}">
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label">City/State/Theater</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn" style="background-color: #291784; color: #FFFFFF;">Search</button>
      </div>
    </div>
  </form>
  <br><br>
  <a href="{{ url_for('movie', title=title) }}" class="btn" role="button" aria-pressed="true"
    style="background-color: #291784; color: #FFFFFF;">Back</a>
</div>
{% endblock %}
