{% extends "navbar.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Buy Ticket</h1>
    <hr class="my-4">
    <div class="row">
      <div class="column" style="width: 33%; padding-left: 2%;">
        <h4>{{ movie.title }}</h4>
        <h8 class="font-italic">{{ movie.rating }}, {{ movie.length }} minutes</h8>
        <br><br>
        <h6>{{ day }}, {{ month }} {{ da.day }}<br>{{ t }}</h6>
      </div>
      <div class="column" style="width: 33%; padding-left: 5%;">
        <h4>{{ theater.name }}</h4>
        <h8>{{ theater.street }}</h8>
        <br>
        <h8>{{ theater.city }}, {{ theater.state }} {{ theater.zip }}</h8>
      </div>
    </div>
    <hr class="my-4">
  </div>
  <h4 class="display-4">Confirmation</h4>
  <br><br>
  <h4>Order ID: {{ session.get('oID') }}</h4>
  <h6>Thank you for your purchase! Please save order ID for your records</h6>
  <br>
  <a href="{{ url_for('now_playing') }}" class="btn" role="button" aria-pressed="true"
    style="background-color: #291784; color: #FFFFFF;">Back to Now Playing</a>
  <br><br><br>
</div>
{% endblock %}
