<!doctype html>
<html lang="en">
<head>
  <title>Movie DB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
  .redtext {
    color: red;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark sticky-top justify-content-between" style="background-color: #291784">
    <a class="navbar-brand" style='color: #ACACAE'>Movie DB</a>
    {% if session.logged_in %}
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Log Out</a>
    {% endif %}
  </nav>
  <!--add to body-->
  <div><br><br></div>
  {% block body %}{% endblock %}
</body>
