{% extends "navbar.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">View Popular Movie Report</h1>
    <hr class="my-4">
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ month1_name }}</h1>
      {% for movie in month1 %}
      <h4>{{ movie.title }}: {{ movie.count }}</h4>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <h1>{{ month2_name }}</h1>
      {% for movie in month2 %}
      <h4>{{ movie.title }}: {{ movie.count }}</h4>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <h1>{{ month3_name }}</h1>
      {% for movie in month3 %}
      <h4>{{ movie.title }}: {{ movie.count }}</h4>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
