{% extends "navbar.html" %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <h4>Register your account below</h4>
    </div>
  </div>
  <div class="container">
    <form action="{{ url_for('register') }}" method=post>
      <dl>
        <dt>Username
        <dd><input type=text name=username placeholder='Enter Username (30 characters max)' size=60 maxlength=30>
        <dt>Email
        <dd><input type=text name=email placeholder='Enter Email (60 character max)' size=60 maxlength=60>
        <dt>Password
        <dd><input type=password name=password placeholder='Enter Password (30 character max)' size=60 maxlength=30>
        <dt>Confirm Password
        <dd><input type=password name=confirmpassword placeholder='Confirm Password' size=60 maxlength=30>
        <dt>Manager Password
        <dd><input type=password name=managerpassword placeholder='Manager Password' size=60 maxlength=30>
        <dd><input type=submit value=Register>
      </dl>
    </form>
  </div>
{% endblock %}
